body {
    background-color: #eaeaea;
}

.bubbleButton{
    background-color: #ffffff;
    border-radius: 2em;
    padding:0.75em;
    cursor:pointer;
    border:.0rem solid black;
    font-size:2rem;
}

.bubbleButton:hover{
    background-color: #dadada;
    animation: fadeColorHover 0.1s linear forwards;
}

.record::before{
    content: "";
    display:block;
    height:2em;
    width:2em;
    background-size: 2em;
    background-image: url(assets/icons/microphone-342.svg);
    background-repeat: no-repeat;
}

@keyframes fadeColorHover{
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #dadada;
    }
}